*~

# Images
*.tif

# Python's virtual environments
/**/venv/

# Python cache folders
/**/__pycache__/

# Vscode workspaces

/**/.vscode/

# Logs
image_keys.*

# Ignore testing files and folders
testing.py
/**/test/
